body, html {
  width: 100%;
  height: 100%;
  font-family: Apple Chancery, cursive;
  margin: 0 auto;
  display: block;
  text-align: center;
  background-image: url(/images/white-wood.jpg);
}

.container, h1 {
  width: 80%;
  max-width: 600px;
  min-width: 400px;
  padding: 10px;
  margin: 10px auto;
}

h4 {
  width: fit-content;
  display: inline-block;
  padding: 5px;
  margin: 20px 0 0 0;
}

.amiable h4 {
    background: linear-gradient(to right, #22aa44, #44cc66);
}

.amiable {
  border: 1px solid #22aa44;
  box-shadow:  -1px 1px #22aa44, -2px 2px #22aa44, -3px 3px #22aa44, -4px 4px #22aa44, -5px 5px #22aa44;
  background-color: #44cc66;

}

.indifferent {
  border: 1px solid #aaa922;
  box-shadow:  -1px 1px #aaa922, -2px 2px #aaa922, -3px 3px #aaa922, -4px 4px #aaa922, -5px 5px #aaa922;
  background-color: #dddd22;
}

.dubious {
  border: 1px solid #a82527;
  box-shadow:  -1px 1px #a82527, -2px 2px #a82527, -3px 3px #a82527, -4px 4px #a82527, -5px 5px #a82527;
  background-color: #dd4444;
}

.column {
  width: 30%;
  display: inline-block;
}

.small {
  width: 100%;
  height: 100%;
}

.med {
  width: 203.5%;
}

.large {
  width: 303%;
}
